# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

bin

# All the run directories
fabric/run
/run/*
!fabric.sh
!velocity.sh
!/run/fabric
!/run/velocity

/run/fabric/*
!start.sh
!stop.sh
!README.md
/run/velocity/*
!start.sh
!stop.sh
!README.md

# IDE files
.idea
.vscode

# Big files
*.hprof