# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

bin
test-server/*
!test-server/start.sh
!test-server/end.sh
!test-server/deploy.sh
test-server-2
run

.idea

*.hprof